.btn-bg{
    background: none;
    border: none;
    background-repeat: no-repeat;
    background-size: 15px;
    float: right;
}
.btn-bg:hover{
    border-radius: 5px;
    background-color: red;
}
.modal-bg{
    background-color: white;
}
.delete-btn{
    margin: 18px;
    cursor: pointer;
}
