*{
    color: black;
}
img{
    border-radius: 90px;
}
.profile-detalis{
    color: black !important;
}
.bio{
    color: black !important;
    font: italic;
}
.location{
    color: black !important;
    font: italic;
}
.website{
    color: black !important;
    font: italic;
}
.button{
    background: none;
    position: absolute;
    float: right;
    top: 140px;
    cursor: pointer;
}

